
<ion-content [fullscreen]="true">
  <div id="container">
    <h3>Welcome to Recipe Repository, hit the button below to view recipes!</h3>
    <div>
      <ion-button [routerLink]="['/recipes']" routerDirection="forward">Recipes</ion-button>
    </div>
    <div>
      <ion-button [routerLink]="['/favourites']" routerDirection="forward">Favourites</ion-button>
    </div>
    <div>
      <ion-button (click)="openBrowser()">Browser</ion-button>
    </div>
    <div>
      <a>App created by g00404488</a>
    </div>
  </div>
</ion-content>
